/.elfeed/
/.mc-lists.el
/.persistent-scratch
/amx-items
/auto-save-list/
/cnfonts/
/eaf/
/elpa/
/eshell/
/history
/org-roam.db
/persistent-scratch/
/persp-confs/
/places
/projectile-bookmarks.eld
/recentf
/rime/
/site-packages/
/transient/
/tutorial/
/url/
/var/
/.cache/
